<div class="mac-bar"></div>
<div class="content">
    <div class="inner-content">
        <h2 class="sr-only">{{'filters' | i18n}}</h2>
        <ul>
            <li [ngClass]="{active: selectedAll}">
                <a href="#" appStopClick appBlurClick (click)="selectAll()">
                    <svg class="fas fa-fw bitwarden" width="1.25em" viewBox="0 0 1792 1792">
                        <path d="M1344 960v-640h-448v1137q119-63 213-137 235-184 235-360zm192-768v768q0 86-33.5 170.5t-83 150-118 127.5-126.5 103-121 77.5-89.5 49.5-42.5 20q-12 6-26 6t-26-6q-16-7-42.5-20t-89.5-49.5-121-77.5-126.5-103-118-127.5-83-150-33.5-170.5v-768q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/>
                    </svg>&nbsp;{{'allItems' | i18n}}
                </a>
            </li>
            <li [ngClass]="{active: selectedFavorites}">
                <a href="#" appStopClick appBlurClick (click)="selectFavorites()">
                    <i class="fas fa-fw fa-star favorites" aria-hidden="true"></i>&nbsp;{{'favorites' | i18n}}
                </a>
            </li>
            <li [ngClass]="{active: selectedTrash}">
                <a href="#" appStopClick appBlurClick (click)="selectTrash()">
                    <i class="fas fa-fw fa-trash bin" aria-hidden="true"></i>&nbsp;{{'trash' | i18n}}
                </a>
            </li>
        </ul>
        <h2>{{'types' | i18n}}</h2>
        <ul>
            <li [ngClass]="{active: selectedType === cipherType.Login}">
                <a href="#" appStopClick appBlurClick (click)="selectType(cipherType.Login)">
                    <i class="fas fa-fw fa-globe-europe" aria-hidden="true"></i>&nbsp;{{'typeLogin' | i18n}}
                </a>
            </li>
            <li [ngClass]="{active: selectedType === cipherType.Card}">
                <a href="#" appStopClick appBlurClick (click)="selectType(cipherType.Card)">
                    <i class="fas fa-fw fa-credit-card" aria-hidden="true"></i>&nbsp;{{'typeCard' | i18n}}
                </a>
            </li>
            <li [ngClass]="{active: selectedType === cipherType.Identity}">
                <a href="#" appStopClick appBlurClick (click)="selectType(cipherType.Identity)">
                    <i class="fas fa-fw fa-id-card" aria-hidden="true"></i>&nbsp;{{'typeIdentity' | i18n}}
                </a>
            </li>
            <li [ngClass]="{active: selectedType === cipherType.SecureNote}">
                <a href="#" appStopClick appBlurClick (click)="selectType(cipherType.SecureNote)">
                    <i class="fas fa-fw fa-sticky-note" aria-hidden="true"></i>&nbsp;{{'typeSecureNote' | i18n}}
                </a>
            </li>
        </ul>
        <p *ngIf="!loaded" class="text-muted">{{'loading' | i18n}}</p>
        <ng-container *ngIf="loaded">
            <div class="heading">
                <h2>{{'folders' | i18n}}</h2>
                <button appBlurClick (click)="addFolder()" appA11yTitle="{{'addFolder' | i18n}}">
                    <i class="fas fa-plus fa-fw" aria-hidden="true"></i>
                </button>
            </div>
            <ul>
                <ng-template #recursiveFolders let-folders>
                    <li *ngFor="let f of folders"
                        [ngClass]="{active: selectedFolder && f.node.id === selectedFolderId}">
                        <a href="#" appStopClick appBlurClick (click)="selectFolder(f.node)">
                            <i *ngIf="f.children.length" class="caret fa-fw fas" title="{{'toggleCollapse' | i18n}}" aria-hidden="true"
                                [ngClass]="{'fa-caret-right': isCollapsed(f.node), 'fa-caret-down': !isCollapsed(f.node)}"
                                (click)="collapse(f.node)" appStopProp></i>
                            <i class="fa-fw fas fa-folder" aria-hidden="true"></i>
                            &nbsp;{{f.node.name}}
                            <span appStopProp appStopClick (click)="editFolder(f.node)" role="button"
                                appA11yTitle="{{'editFolder' | i18n}}" *ngIf="f.node.id">
                                <i class="fas fa-pen fa-fw" aria-hidden="true"></i>
                            </span>
                        </a>
                        <ul class="fa-ul" *ngIf="f.children.length && !isCollapsed(f.node)">
                            <ng-container *ngTemplateOutlet="recursiveFolders; context:{ $implicit: f.children }">
                            </ng-container>
                        </ul>
                    </li>
                </ng-template>
                <ng-container *ngTemplateOutlet="recursiveFolders; context:{ $implicit: nestedFolders }"></ng-container>
            </ul>
            <div *ngIf="collections && collections.length">
                <h2>{{'collections' | i18n}}</h2>
                <ul>
                    <ng-template #recursiveCollections let-collections>
                        <li *ngFor="let c of collections" [ngClass]="{active: c.node.id === selectedCollectionId}">
                            <a href="#" appStopClick appBlurClick (click)="selectCollection(c.node)">
                                <i *ngIf="c.children.length" class="caret fa-fw fa" title="{{'toggleCollapse' | i18n}}" aria-hidden="true"
                                    [ngClass]="{'fa-caret-right': isCollapsed(c.node), 'fa-caret-down': !isCollapsed(c.node)}"
                                    (click)="collapse(c.node)" appStopProp></i>
                                <i class="fa-fw fa fa-cube" aria-hidden="true"></i>
                                &nbsp;{{c.node.name}}
                            </a>
                            <ul class="fa-ul" *ngIf="c.children.length && !isCollapsed(c.node)">
                                <ng-container
                                    *ngTemplateOutlet="recursiveCollections; context:{ $implicit: c.children }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveCollections; context:{ $implicit: nestedCollections }">
                    </ng-container>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="footer">
        <app-nav class="nav"></app-nav>
    </div>
</div>
