@import "variables.scss";

.list {
    padding: 5px 0;
}

.list > a {
    display: block;
    padding: 3px 5px;
    margin: 5px 10px;
    text-decoration: none;
    position: relative;
    user-select: none;
    z-index: 1;
    border-radius: $border-radius;

    @include themify($themes) {
        color: themed('textColor');
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &:last-child:before {
        border: none;
        height: 0;
    }

    &:hover, &:focus, &.active {
        @include themify($themes) {
            background-color: themed('listItemBackgroundHoverColor');
        }
    }

    &.active {
        @include themify($themes) {
            background-color: themed('listItemActiveBackgroundColor');
        }
    }

    &:focus:not(.active) {
        padding-left: 5px;
    }

    .text, .detail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;

        @include themify($themes) {
            color: themed('textColor');
        }
    }

    .detail {
        font-size: $font-size-small;

        @include themify($themes) {
            color: themed('mutedColor');
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        height: 34px;
        width: 34px;
        margin-top: 1px;
        margin-right: 10px;

        @include themify($themes) {
            background-color: themed('backgroundColor');
            border: 1px solid themed('borderColor');
            color: themed('mutedColor');
            border-radius: $border-radius;
        }

        img {
            border-radius: $border-radius;
            max-height: 32px;
            max-width: 32px;
        }
    }
}

.list > a.flex-list-item {
    display: flex;
    align-items: center;

    .item-icon {
        margin-left: -5px;
        margin-right: 4px;
        @include themify($themes) {
            color: themed('mutedColor');
        }
    }

    .item-content {
        .item-title {
            .title-badges {
                @include themify($themes) {
                    color: themed('mutedColor');
                }
            }
        }

        .item-details {
            font-size: $font-size-small;
            @include themify($themes) {
                color: themed('mutedColor');
            }
        }
    }
}
